/* 
    small SM: 768px
*/

#navbar{
    li{
        .nav-link{
            @media screen and (max-width: 768px) {
        padding: $padding-1 $padding-2;            
            }
        }
    }
    .navbar-collapse{
        @media  screen and (max-width:768px) {
            border-top: $border-2;
        }
    }
    .discoverySection {
        @media screen and (max-width: 768px){
            padding: $padding-3;
            // USE MIXIN TO CREATE ARROW
            &::before{
                display: none;
            }
        }
    }
}
#search-section{
    @media screen and (max-width: 768px){
        display: none;
    }
}

#vehicle{
    @media screen and (max-width:768px) {
        #vehicle-contain{
            .nav-vehicle{
                ul{
                    padding:0;
                    li{
                        display: block;
                        padding: $padding-1 0 $padding-1 0;
                        a{
                            border: none;
                        }
                    }
                }
            }
        }
        #vehicle-close{
            display: none;
        }
    }
   
}