/* 
    CONTAIN ALL CSS OF VEHICLE PAGE
*/
.container--config {
    padding: 0 $padding-7;
}
#vehicle {
    background-color: $color-blue-overlay;
    #vehicle-contain {
        .nav-vehicle {
            background-color: $color-white;
            text-align: center;
            padding: $padding-3 0;
            ul {
                list-style: none;
                margin:0;
                li {
                    display: inline;
                    a{
                        padding: $padding-1 $padding-4;
                        font-weight: $font-weight-bold;
                        color: $color-darkblue-200;
                        font-size: $font-size-1;
                        border-right: $border-2;
                        &:hover{
                            color: $color-blue-200;
                            text-decoration: none;
                        }
                    }
                }
                li.active{
                    a{
                        color:$color-blue-200;
                        text-decoration: underline;
                    }
                }
            }
            
        }
    }
    
    #vehicle-list {
        background-color: $color-grey;
        padding: $padding-6 0;
        .vehicle-title{
            h1{
                position: relative;
                top: $margin-up-2;
                background-color: $color-grey;
                color: $color-darkblue-200;
                padding:0 $padding-1;
                font-weight: $font-weight-bold;
                font-size: $font-size-3;
                i{
                    font-size: $font-size-3 * 0.5;
                    position: relative;
                    top:$margin-up-1;
                }
                span{
                    font-weight: $font-weight-normal;
                }
            }
        }
        .vehicle-img{
            .vehicle-hover{
                position: absolute;
                transform: translate(-93%,0);
            }
            h2{
                text-align: center;
                font-size: $font-size-2;
                font-weight: $font-weight-bold;
                color: $color-darkblue-200;
                padding: $padding-2;
                margin:0;
            }
        }
        .vehicle-info{
            display: flex;
            justify-content: space-evenly;
            h3{
                font-weight: $font-weight-normal;
                font-size: $font-size-3;
                color: $color-darkblue-200;
                margin: $mg-1;
            }
            p{
                color: $color-darkblue-200;
                font-size: $font-size-1;
            }            
        }
        .vehicle-button{
            text-align: center;
            
        }
    }
}
