@mixin button($border-color, $bg, $color, $padding, $bg-hover, $color-hover) {
    border: 2px solid $border-color;
    border-radius: 40px;
    background-color: $bg;
    color: $color;
    font-weight: $font-weight-bold;
    padding: $padding;
    font-size: $font-size-1;
    cursor: pointer;
    &:hover {
        background-color: $bg-hover;
        color: $color-hover;
    }
}

.btn-vehicle {
    @include button($color-blue-200,$color-blue-200, $color-white, $padding-2 $padding-5, $color-white, $color-blue-100);
    margin-right: $mg-1;
}
.btn-vehicle.active {
    @include button($color-blue-200,$color-white ,$color-blue-200, $padding-2 $padding-5, $color-blue-200,$color-white);
}

.btn-search{
    @include button($color-blue-200, transparent, $color-blue-100, $padding-1 $padding-5,$color-blue-200,$color-white);
    @media screen and (max-width: 992px) {
        border-radius: 0;
        border: none;
        background-color: $color-white;
        color: $color-blue-200;
        font-weight: $font-weight-bold;
        padding: $padding-3 - 6  $padding-2;
        font-size: $font-size-1;
        cursor: pointer;
    }
}

.btn-carousel{
    @include button($color-orange, $color-orange, $color-white, $padding-1 $padding-2, $color-white, $color-orange);
}

.btn-go{
    @include button($color-blue-200, $color-blue-200,$color-white,$padding-1 $padding-2, transparent,$color-blue-100);
}

.btn-build{
    text-transform: uppercase;
    @include button($color-white, transparent,$color-white, $padding-1 $padding-3, $color-white,$color-blue-100);
}

.btn-caption{
    padding: $padding-1 $padding-5;
    @media screen and (max-width:576px) {
        font-size: $font-size-1 - 0.2;
        padding: $padding-1 $padding-3;
    }
}

#advertisement{
    .btn-go{
        @include button($color-orange, $color-orange, $color-white,$padding-1 $padding-2,$color-white, $color-orange);
    }
    .btn-build{
        @include button($color-white,transparent, $color-white, $padding-1 $padding-2, $color-white, $color-blue-100);
    }
}
